@import "../../../flexgridsystem"

.demo-col-container
	row()
	

.demo-col-container div
	border 1px solid #000
	margin-top 5px
	margin-bottom 5px
	padding 10px 0
	text-align center
	
.demo-col-1
	col(1)

.demo-col-2
	col(2)

.demo-col-3
	col(3)

.demo-col-4
	col(4)
	
.demo-col-5
	col(5)
	
.demo-col-6
	col(6)

.demo-col-7
	col(7)

.demo-col-8
	col(8)

.demo-col-9
	col(9)

.demo-col-10
	col(10)
	
.demo-col-11
	col(11)
	
.demo-col-12
	col(12)