/* Vendors
_____________________________________________________ */

// Flex Grid Framework
@import "../../../flex-grid-framework"

// Pure CSS Components - Tab Component
@import "tab/tab"

/* Colors
_____________________________________________________ */
magenta = #E22B4A
magenta-dark = rgb(170, 11, 64)
code-background = #000
code-default = #9c9c9c
code-highlight = #f7cb34

/* Mixins
_____________________________________________________ */
shadow()
	-webkit-box-shadow 3px 3px 3px 0px rgba(50, 50, 50, 0.77)
	-moz-box-shadow 3px 3px 3px 0px rgba(50, 50, 50, 0.77)
	box-shadow 3px 3px 3px 0px rgba(50, 50, 50, 0.77)

yellow-bar()
	background-color #ccc
	margin-top 5px
	margin-bottom 5px
	height 30px

/* _____________________________________________________ */

body
	font-family 'Play', sans-serif
	font-weight 300
	background-color #E6E6E6
	background-size 80px 140px
	font-size 18px

/* header
_____________________________________________________ */
.header-bg
	padding 50px 0
	background #E6E6E6

.header
	text-align center
	@extend $col-12

.logo
	width 100%
	max-width 540px

/* Sections
_____________________________________________________ */
.the-basic
	background-color #F7CB34
	padding-bottom 50px
	width 100%

.the-basic .title-lv3
	color #222222

.the-basic .title-lv4
	color #222222

.item-feature
	background-color magenta
	padding-bottom 50px

.container-features
	background-color #F7CB34
	padding-bottom 50px

.container-features .title-lv3
	color #222222

.container-features .title-lv4
	color #222222

.breakpoint
	background-color magenta
	padding-bottom 50px

.support
	background-color #E6E6E6
	padding-bottom 50px

.support .title-lv3
	color #222222

.support p
	color #222222

/* Note
_____________________________________________________ */
.note
	background-color #FFF
	color #000
	padding 10px 15px
	margin 0 auto
	display block
	shadow()
	width 100%
	max-width 660px
	font-size 16px

@media (max-width 610px)
	.note
		width 80%
		margin 0 auto

/* title container
_____________________________________________________ */
.title-container
	@extend $col-12
	text-align center

/* headers
_____________________________________________________ */
.title-lv1
	font-size 48px
	margin-top 0
	padding 0 30px

@media (max-width 380px)
	.title-lv1
		padding 0

.title-lv2
	font-size 30px

.title-lv3
	font-size 30px
	color #fff
	padding 30px 0
	margin 0

@media (max-width 600px)
	.title-lv1
		font-size 38px

	.title-lv2
		font-size 25px

	.title-lv3
		font-size 25px

.title-lv4
	font-size 25px
	color #fff
	font-style oblique
	font-weight 700

.magenta
	color magenta

/* Other texts
_____________________________________________________ */
.standard-paragraph
	color #fff

/* Links and Btns
_____________________________________________________ */
.link-magenta
	color magenta
	text-decoration none
	-webkit-transition color .5s
	transition color .5s

.link-magenta:hover
	color magenta-dark

.link-white
	color #fff
	text-decoration none
	-webkit-transition color .5s
	transition color .5s

.link-white:hover
	color magenta-dark

.btn
	padding 10px 30px
	color #fff
	background-color magenta
	margin 30px 0 45px 0
	display inline-block
	text-decoration none
	-webkit-transition background-color .5s
	transition background-color .5s

@media (max-width 610px)
	.btn
		display block
		width 200px
		margin 30px auto

.btn:hover
	background-color magenta-dark

/* rows
_____________________________________________________ */
.container
	@extend $row

.demo-row
	background-color #fff
	padding 10px 0
	margin-top 10px
	shadow()
	@extend $row

.c-align-left
	@extend $justify-left

.c-align-right
	@extend $justify-right

.c-align-center
	@extend $justify-center

.c-align-between
	@extend $justify-between

.c-align-around
	@extend $justify-around

.v-align-top
	@extend $vertical-align-top

.v-align-middle
	@extend $vertical-align-middle

.v-align-bottom
	@extend $vertical-align-bottom

/* Code block
_____________________________________________________ */
.code-sh
	width 100%
	max-width 390px
	margin 0 auto
	font-size 16px

@media (max-width 600px)
	.code-sh
		font-size 14px

.code-sh .pre
	background-color code-background
	color code-default

.code
	@extend $col-8
	@extend $offset-2
	text-align left

@media (max-width 600px)
	.code
		mq-col(12)
		mq-offset(0)
		padding 0 10px

.code .pre
	background-color code-background
	color code-default
	padding-left 10px

.featured
	color code-highlight

.commented
	color grey

/* Yellow bars
_____________________________________________________ */
.yellow-bar-1
	yellow-bar()
	@extend $col-1

.yellow-bar-2
	yellow-bar()
	@extend $col-2

.yellow-bar-3
	yellow-bar()
	@extend $col-3

.yellow-bar-4
	yellow-bar()
	@extend $col-4

.yellow-bar-5
	yellow-bar()
	@extend $col-5

.yellow-bar-6
	yellow-bar()
	@extend $col-6

.yellow-bar-7
	yellow-bar()
	@extend $col-7

.yellow-bar-8
	yellow-bar()
	@extend $col-8

.yellow-bar-9
	yellow-bar()
	@extend $col-9

.yellow-bar-10
	yellow-bar()
	@extend $col-10

.yellow-bar-11
	yellow-bar()
	@extend $col-11

.yellow-bar-12
	yellow-bar()
	@extend $col-12

.yellow-bar-flex
	yellow-bar()
	@extend $col-flex

.yellow-bar-x
	yellow-bar()
	@extend $col-3
	@extend $offset-3

.yellow-bar-y
	yellow-bar()
	@extend $col-6

@media (max-width 811px)
	.yellow-bar-x
		mq-col(12)
		mq-offset(0)

	.yellow-bar-y
		mq-col(12)

.offset-6
	@extend $offset-6

.offset-7
	@extend $offset-7

.big
	height 90px

/* Footer
_____________________________________________________ */
.footer-container
	background-color #222222
	padding 20px 0
	width 100%

.footer
	text-align center

/* Heart
_____________________________________________________ */
.heart {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background-color: #e1008f;
  position: relative;
  display: inline-block;
  animation: pulse .5s infinite alternate ease-in;
}

.heart:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e1008f;
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
}

.heart:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e1008f;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
}

@keyframes pulse {
    from {transform: rotate(-135deg) scale(1);}
    to   {transform: rotate(-135deg) scale(1.2);}
}
